[submodule "custom-meta-boxes"]
	path = custom-meta-boxes
	url = https://github.com/humanmade/Custom-Meta-Boxes.git
[submodule "ReduxFramework"]
	path = ReduxFramework
	url = https://github.com/ReduxFramework/redux-framework.git
